@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap');

.header {
  background-color: #E6E1C8;
}

img {
  width: 200px;
  height: 200px;
}

.container-um {
  display: flex;
}

.search-bar {
  margin-top: 55px;
  margin-left: 30px;
  margin-right: 30px;
}



.login-cadastro {
  padding-right: 50px;
  width: 100px;
  height: 40px;
  margin-top: 55px;
  margin-left: 30px;
  margin-right: 30px;
}

.entrar-text {
  color: #556B2F;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}
.icone {
    width: 30px;
    height: 40px;
    margin-top: 55px;
    margin-left: 20px;
    margin-right: 0px;
}

.bs-btn-color {
  color: white;
}

.menu-centralizado {
  margin-left: auto;
  margin-right: auto;
}

/* Adicione isso ao seu arquivo CSS (por exemplo, App.css) */
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos adicionais para melhorar a aparência do menu suspenso */
.navbar-nav .nav-link {
  padding: 10px 20px; /* Ajuste conforme necessário */
}

.navbar-nav .nav-item {
  text-align: center;
}


#basic-nav-dropdown {
  color: #556B2F;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

#itens {
  color: #556B2F;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

#pesquisa {
  width: 600px;
}

.navbar {
  margin-top: -50px;
}

#basic-nav-dropdown {
  margin-right: 70px;
  margin-left: 70px;
}

/* Classe para aplicar um efeito de fade-in no NavDropdown */
.fade-in-dropdown {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-in-dropdown.show {
  opacity: 1;
  transform: translateY(0);
}

.dropdown {
  margin-right: 40px;
  margin-left: 30px;
}

#dropdown-basic-button {
  background-color: transparent;
  border: none;
  color: #556B2F;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

#dropdown-basic {
  background-color: transparent;
  border: none;
  color: #556B2F;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  margin-right: 400px;
}

#dropdown-itens {
  color: #556B2F;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}


