@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
{/*font-family: 'Roboto', sans-serif; */}

*{
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-decoration: none;
}

h2{
    font-weight: 800;
    color: #446b2f;
    padding: 40px 14rem;
}

.informes-texto{
    padding: 10px 14rem;
    text-align: justify;
}

.informes-texto .titulo{
    font-weight: 800;
    display: flex;
    color: #446b2f;
}

.informes{
    padding: .5rem 3rem;
}

.informes .numero{
    font-weight: 800;
    color:  #de9e36;
}

.informes p{
    font-weight: 400;
    color: #0c090d;
}
